@model IEnumerable<dorranceCP.Models.Logs>

@{
    ViewBag.Title = "Logs";
    string url2 = "http://portal.dorrancepublishing.com/Content/Images/Original/";
    var user = ViewBag.User as dorranceCP.Models.admin;
    //var all = ViewBag.all as IEnumerable<dorranceCP.Models.Logs>;

    dorranceCP.Models.NS_DorranceEntities db = new dorranceCP.Models.NS_DorranceEntities();

}

@section css{

    <style>
        .table thead tr th {
            font-size: 15px !important;
        }

        .numOfBook {
            width: 20% !important;
        }

           .container{
            max-width: 95% !important;
        }
        /*.table thead tr th {
            padding: 17px !important;
        }*/
    </style>

}

<div class="pageBody" style="overflow:hidden !important;">
    <div class="whiteOverlay">

    </div>

    <div class="container">
        <div class="count clock" id="model3" hidden>
            <span style="color:#fff;">Refresh  </span><div id="timer"></div>
        </div>
        @Html.Partial("_msg")
        <div class="row">
            <div class="pageHeader" style="width:100%;margin-left: 1%;">
                <div class="clearfix">
                    <div class="float-left">
                        <h4><a href="/CP/Home/dashboard">Home</a> / Logs</h4>
                        <h2 class="pageTitle">Logs</h2>
                        <span>Welcome Back , <span>@(user != null ? user.Name : "")</span></span>

                    </div>

                    <div class="paginationBox float-right" style="margin-right: 0 !important;">
                        <div class="generateCreateButtons">
                            @*<a data-toggle="modal" data-target="#AuthorModal2" style="margin-right: 3px !important;width: 112px !important;" href="#" class="btn generateBtn btnMargin disabled">Invoices</a>*@
                            <a href="/CP/Logs/deleteAll" style="margin-right: 3px !important;width: 127px !important;" class="btn generateBtn btnMargin Confirm">Delete All</a>
                            @*<button onClick="fnExcelReport('html_table');" style="width: 120px !important;" class="btn generateBtn">
                                + Export
                            </button>*@

                            @*<a href="#" style="width: 120px !important;" class="btn generateBtn" data-toggle="modal" data-target="#AddNewBook">
                    + Create Author
                </a>*@
                            @*<a  href="/CP/Authers/Add" style="width: 112px !important;" class="btn generateBtn"> + Creat Author</a>*@
                        </div>
                    </div>

       </div>
                    <div class="clearfix tableHeader" style="width:100%;">
                        <form method="get">
                            <div class="searchBox float-left">
                                @*<input type="text" class="search" value="search...">*@
                                <input autofocus value="@ViewBag.q"
                                       name="q" type="text" class="search"
                                       placeholder="search ...">

                                <button style="color: #f3f6f9;border: none;position: absolute;left: 0;top: 35%;background-color: transparent;"
                                        type="submit">
                                    <i class="fa fa-search" style="top: 36% !important;"></i>
                                </button>
                            </div>
                        </form>

                        @Html.Partial("_paging")

                    </div>
                </div>
            @if (Model.Count() > 0)
            {
                <div style="width:100%;">
                    <div class="table-responsive scr">
                        <table class="table table-checkable" id="html_table" style="width: 990px !important;">
                            <thead>
                                <tr>
                                    <th hidden></th>
                                    <th width="5%">#No</th>
                                    <th width="18%">Admin Name</th>
                                    <th>Source</th>
                                    <th>Action</th>
                                    <th>IP</th>
                                    <th width="17%">Date</th>

                                    @*<th style="width: 9% !important;">Settings</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 0;}
                                @foreach (var item in Model)
                                {
                                    i = i + 1;
                                    var admin = db.admin.Where(d => d.ID == item.AdminID).FirstOrDefault();
                                    <tr>
                                        <td hidden></td>

                                        <td width="5%">#@i</td>
                                        
                                        <td>@(admin != null? admin.Name : "")</td>
                                        <td>@item.TableName</td>
                                        <td width="17%" style="word-break:break-all;">
                                            @item.Action
                                        </td>
                                        <td width="17%" style="word-break:break-all;">
                                            @item.IP
                                        </td>
                                        <td width="17%" style="word-break:break-all;">
                                            @item.TransitionAt.ToString("MM/dd/yyyy HH:mm:ss t")
                                        </td>
                                        
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
             }
             else
             {
               <div class="alert alert-info col-md-12">
                   There is no data to display
                </div>
             }

      
        </div>



        

    </div>

</div>












