@model dorranceCP.Models.FAQs


@{
    ViewBag.Title = "Edit FAQs";
    string url2 = "http://portal.dorrancepublishing.com/Content/Images/Original/";
}

<style>
    input {
        height: 38px !important;
    }

    .btn-primary {
        color: #fff !important;
    }

    .btn-defult {
        background: #ccc !important;
    }


    /*switch togggle*/
    .switch {
        position: absolute;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #4fa746;
        ;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<div class="pageHeader col-md-9" style="width:100%;margin-top: 5%;">
    <div class="row" style="margin-left: 1%;margin-top: 3%;">
        <div class="pageHeader" style="width:100%;box-shadow: 1px 3px 4px 3px #dedede;padding: 3%;">
            <h4><a href="/CP/Home/dashboard">Home</a> / FAQs</h4>


            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.id)

                <div class="form-horizontal col-md-8" style="margin-top:4%;float: left;">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabbable-line">

                                <div class="tab-content">

                                    <div class="tab-pane active">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.question, "Question", htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.question, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.answer, "Answer", htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.answer, new { @class = "form-control", rows = 2, style = "width: 100%;height:140px !important;", required = "required", title = " " })
                                                @Html.ValidationMessageFor(model => model.answer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Is Public</label>
                                            @*@Html.LabelFor(model => model.is_public, "Is Public", htmlAttributes: new { @class = "control-label col-md-3" })*@
                                            <label class="switch">
                                                <input type="checkbox" name="is_public1" id="pub" checked="@Model.is_public" />   @*onchange="toggleCheck()"*@
                                                <span class="slider round"></span>
                                            </label>
                                        </div>


                                        @*<div class="form-group">
                                                <label class="control-label col-md-3">Is Active</label>
                                                <label class="switch">
                                                    <input type="checkbox" name="is_active1" id="activ" checked="@Model.active" />
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>*@

                                        <div class="form-group" style="margin-bottom: 21%;margin-top: 5%;">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-defult" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            }
        </div>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
