<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dorrance </title>
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/lightbox.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="~/Content/assets/images/logo.png">
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <style>
        #sp{
                font-size: 11px;
                background: #e22a2a;
                float: right;
                font-weight: bold;
                padding: 2px 6px;
                border-radius: 50%;
                color: #ffffff;
        }

        @@media screen and (max-width: 400px) {
         .dd a {
            padding: unset !important;
            height: unset !important;
            border-left: unset!important;
            padding: 13px 7px !important;
            height: unset;
          }
         .statScr{
             padding: 13px 20px !important;
                border-left: unset!important;
                height:unset !important;
                     }
         .fAQ{
             padding: 15px 20px !important;
             border-left: unset!important;
             height: unset;
         }
         .notification{
                 padding: 15px 20px !important;
                 height: unset;
         }
         .personalInfo{
             float:right;
         }
         .gol{
             width: 30% ;
         }
         .gol2{
             width: 70%;
         }
         .logScr{
             width:80% !important;
         }
         .modal{
             z-index: 888888888 !important;
         }
         header {
    height: auto !important;
}
         .bookDetailsBox{
             height:780px !important;
         }
         #addask{
             margin-right: -8% !important;
         }
         .ordInp{
             /*margin-top: unset !important;
            margin-right: unset !important;*/
            width: 100% !important;
         }
         .srScr{
             width:100% !important;
         }
         .ordfrm{
             margin-bottom:4%;
         }
         .ftScr{
                 font-size: 12px !important;
         }
         .notifyDropDown{
             width:350px !important;
         }
         
         .mainHero{
                 padding-bottom: 0 !important;
         }
        }


        html {
            scroll-behavior: smooth;
        }
        .modal-backdrop
        {
            opacity : 0.3 !important;
        }
        ::-webkit-scrollbar {
             /*width: 20px;*/
            /*-webkit-scrollbar-face-color:#000 !important;

             -webkit-scrollbar-base-color:#c6c9cc !important;*/
            
    /*overflow-x: hidden !important;*/
        }
        input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.shown {
    display : block;
}

.hidenn{
    display : none;
}


    </style>
</head>
<body>
   
        @RenderBody()
    
    <div class="modal NotifyModal" id="NotifyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <h5 class="modal-title"> Update Password</h5>
                <p>To protect and maintain account security, please add a new password.</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <input type="text"  name="tit" id="tit" class="form-control" placeholder="Title">

                        </div>
                        <div class="form-group">
                            <textarea  name="msg" id="msg" class="form-control" placeholder="Message"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="edit" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="background: #5c5b5b !important;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="padding: 4%;">
                <div id="myModalContent2">
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="orderm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="background: #5c5b5b !important;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="padding: 4%;">
                <div id="myModalContent3">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Content/assets/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Content/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/main.js"></script>
@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
*@
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        $(".content").click(function () {
            $('.notifyDropDown').css("display", "none");//.toggle();//css("display", "none");
            $('.FAQDropdown').css("display", "none");//.css("display", "none");
            $('.profileDropDown').css("display", "none");//.css("display", "none");

        });
        //$(document).ready(function () {
        //    $("body").click(function () {
        //        $('.notifyDropDown').css("display", "none");//.toggle();//css("display", "none");
        //        //$('.FAQDropdown').css("display", "none");//.css("display", "none");
        //        //$('.profileDropDown').css("display", "none");//.css("display", "none");

        //    });
        //});
    </script>

</body>
</html>

